/* navbar */
/* .navbar{
  display: grid;
  grid-column-gap: 1%;
  grid-template-columns: 10% 10% 10% 10% 10% 10%;

  border: 1px solid purple;
} */

.mr-auto :link{
  text-decoration: none;
  color: inherit;
  /* padding: 5%; */
  margin-left: 10%;
  font-size: larger;
}
.home{
  background-image: "cosy.jpg";
}
.jumbo{
  justify-content: center;
  margin: auto;
  width: 30%;
  margin-top: 10%;
} 
.jumbo p{
  justify-content: center;
  margin: auto;
  margin: 10%;

}
.jumbo button{
  margin-left: 15%;
}
.jumbo button :link{
  text-decoration: none;
}

.nav :link{
  text-decoration: none;
  color: inherit;
  /* padding: 5%; */
  width: fit-content;
  margin-left: 15%;
  font-size: larger;
}
.navbar-nav{
  width: 12%;
}

.product{
  border: 1px solid black;
  display: grid;
  grid-column-gap: 1%;
  grid-template-columns: 50%  50%;
  margin-bottom: 2%;
}
.product div{
  padding: 3%;
}
.product-list{
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 30%  30% 30%;
  margin: 1%;
}

.login, .register{
  width: 30%;
  margin: auto;
  margin-top: 5%;
}

.logo{
  justify-content: center;
  margin: auto;
  width: 20%;
}
.table-cart{
  width: 30%;
  margin-top: 5%;
}
